.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions {
  margin-top: 1rem;
}

.asset-section {
  width: 100%;
  margin-top: 1rem;
}

.asset-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}
