<div class="border-div">
  <div class="top-container">
    <label>Companies</label>
    <button mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <mat-list class="mat-body-1" role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>

