<div class="border-div">
  <div class="top-container">
    <label>Companies</label>
    <button mat-fab (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <mat-list class="mat-body-1" role="list">
      <mat-list-item *ngFor="let company of companies">{{ company.name }}</mat-list-item>
    </mat-list>
  </div>
  <mat-divider></mat-divider>
  <div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[2, 10, 25, 100]"
                   (page)="pageChangeEvent($event)"
                   aria-label="Select page">
    </mat-paginator>
  </div>
</div>

